ion-col {
    background-color: #ffffff;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }
  ion-card{
    --background:#ffffff;
    --color: rgb(0, 0, 0);              /* Cambia el color del texto */
    font-size: 10px;            /* Cambia el tamaño de fuente */
  height: 350px; /* Altura fija para todas las tarjetas */
  }
  
  .seleccioncursosTi{
font-size: 20px;
color:rgb(0, 0, 0);
justify-content:first baseline;
font-weight: bold; // O puedes usar un valor numérico como 700
  }

  .seleccioncursosSub{
    font-size: 11px;
    color: black;
    justify-content:first baseline; 
      }

