<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let pie of piepag">
        <ion-card-subtitle class="piepag">{{pie.subcat1}}
          <div class="piepag">{{pie.subcat2}}</div>
          <div class="piepag">{{pie.subcat3}}</div>
          <div class="piepag">{{pie.subcat4}}</div>
          <div class="piepag">{{pie.subcat5}}</div>
        </ion-card-subtitle>
      </ion-col>
      </ion-row>
      </ion-grid>
      <ion-button class="boton"img src="./assets/Mundo.png"> Español </ion-button>
      <img src="./assets/icon/Udemy.png" style="width: 120px; height: auto; justify-content: baseline;">
</ion-card-content>